<!DOCTYPE html>

<html>

    <iframe src="https://i.simmer.io/@mortheking/~7162d5f6-626e-8bba-392f-20773ea4178b" style="width:1200px;height:600px;border:0"></iframe>

<head>
    <title>Learn Math</title>
    {{!-- <link rel="icon" hresf=""> --}}
    <link rel="stylesheet" href="/WebGL/css/style.css">
</head>


<body>
    <div class="main-content">
        <header>
            <h1>to the game press the link below</h1>
            <a href="/AKATON/game">The Math</a>
        </header>
        <p>who we are...</p>
    </div>
    <footer>
        <p>Created By Ort Ebin's Group</p>
    </footer>    
    <script src ="../public/publisher.js"></script>
</body>

</html>